<!DOCTYPE html>
<html class="<%= page_class %>" xmlns="http://www.w3.org/1999/xhtml" xmlns:ops="http://www.idpf.org/2007/ops">
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="zinefeed.css"/>
		<title><%= title %></title>
	</head>
	<body>
		<%= content %>
	</body>
</html>

